body {
  background-color: #252830;
  color: white;
}

.navbar {
  display: flex;
  align-items: flex-end;
  padding-right: 7%;
}

a {
  color: dimgray;
}

a:hover {
  color: white;
}

.active {
  color: white;
}