<nav class="navbar navbar-md navbar-light bg-faded nav-styles">
  <div class="nav-item dropdown">
    <div ngbDropdown class='d-inline-block dropdown-links'>
      <button class="btn btn-outline-secondary" id="menuDropdown" ngbDropdownToggle>
        Menu
      </button>
        <div class="dropdown-menu" aria-labelledby="menuDropdown">
          <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          <a class="nav-item nav-link" routerLink="/documents" routerLinkActive="active">Docs</a>
          <a class="nav-item nav-link" routerLink="/proposals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Proposals</a>
          <a class="nav-item nav-link" routerLink="/proposals/new" routerLinkActive="active">New Proposal</a>
        </div>
    </div>
  </div>
</nav>

<div class="app-body">
  <router-outlet></router-outlet>
</div>